asgiref
certifi
charset-normalizer
colorama
defusedxml
Django
djangorestframework
Faker
httpie
idna
markdown-it-py
mdurl
multidict
Pygments
PySocks
python-dateutil
pytz
requests
requests-toolbelt
rich
six
sqlparse
typing_extensions
tzdata
urllib3